body { font-family: helvetica, arial; color: #a3b3c3; border:0; padding:0; font-size:90%; overflow: hidden;
    width: 320px;
    height:100%;
    margin: auto;}

h1 {margin:.4em;}
h3 { font-size:120%; margin:12px; padding-left:0;margin-bottom:.5em; color: #ffffff;}
p {margin:0; margin:12px; margin-top:.5em; margin-bottom:.5em; font-size:84%;}
a { color: #ffffff; }

td{text-align:center; font-size: 70%;}

.ibox {width:320px; height:100%; overflow:hidden; background-color: #000000; margin:auto;}
.iboxcontent {width:320px; height:100%;  float:left; overflow:hidden;}
.ibc1 {background-color: #3b4859; background-image:url("../img/bg1.png");}
.ibc2 {background-color: #404d5e; background-image:url("../img/bg2.png");}

#alertbox {display:none;position:absolute; z-index:200;}
#alertbox_flekk {position:absolute; width:320px; height:100%; background-color:#000000; opacity: .8;}
#alertbox_content {position:absolute; width:320px; height:100%; margin-top:70px; text-align:center; color:#ffffff;}
#alertbox_content .fontostext {color:#a3b3c3;}
#alertbox a {margin:10px; width:114px; height:54px; }
img {border:0;}

#imenu {width:320px;height:41px; margin:auto; text-align:center; background-image:url("../img/menu.png"); background-position:0 0px;}
#imenu a:hover {opacity:.5;}
#button_game {background-image:url("../img/menu.png"); display:block; float:left; width:72px; height:41px; background-position:0 0;}
#button_highscore {background-image:url(../img/menu.png); display:block; float:left; width:110px; height:41px;background-position: -72px -41px;}
#button_about {background-image:url(../img/menu.png); display:block; float:left; width:100px; height:41px; background-position: -182px -41px;}

#score,#combo,#level {color:#ffffff;}

#button_xwuz {position:absolute; display:block; width:48px; height:57px; margin: 5px 0 0 267px; background-image:url(../img/xwuz.png);z-index:1; cursor:pointer;}

#yourbest { text-align:center; font-weight:bold; color:#ffffff;font-size: 300%; margin: .5em auto .5em auto; background-image:url(../img/flekk.png); width:296px; height:65px; padding-top:15px;}
.fontostext {color: #ffffff;}

#preload {width:320px;position:absolute; visibility:hidden; overflow:hidden;}

#st_outerarea{width:320px;height: 100%; overflow:hidden; position: relative;}

.woodBtnConfrim{
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 10px;
    background-color: #008CBA;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.woodBtnShare{
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 10px;
    background-color: #4CAF50;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
}

.woodBtn{
    border-radius: 8px;
    padding: 10px 48px;
    font-size: 10px;
    background-color: #008CBA;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#alert_content{
    text-align:center;
    top: 50%;
    transform: translateY(50%);
    margin:0px auto;
}


.alert_content_result{
    text-align:center;
    top: 120%;
    transform: translateY(120%);
    margin:0px auto;
}