body { font-family: helvetica, arial; background-color: #000000; color: #a3b3c3; border:0; padding:0; font-size:90%; overflow: hidden;
    width: 320px;
    margin: auto;}

h1 {margin:.4em;}
h3 { font-size:120%; margin:12px; padding-left:0;margin-bottom:.5em; color: #ffffff;}
p {margin:0; margin:12px; margin-top:.5em; margin-bottom:.5em; font-size:84%;}
a { color: #ffffff; }

td{text-align:center; font-size: 70%;}

.ibox {width:320px; height:315px; overflow:hidden; background-color: #000000; margin:auto;}
.iboxcontent {width:320px; height:315px; float:left; overflow:hidden;}
.ibc1 {background-color: #3b4859; background-image:url(../img/bg1.png);}
.ibc2 {background-color: #404d5e; background-image:url(../img/bg2.png);}


img {border:0;}

.fontostext {color: #ffffff;}