<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>戳泡泡</title>

    <meta name="keywords" content="games, online games, mobile games, html5 games" />

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="<?php echo $http_domain;?>/public/css/pop.css<?php echo $suffix;?>" />
    <!--<link rel="stylesheet" href="fonts/fonts.css" />-->

    <script src="<?php echo $http_domain;?>/public/js/Stats.js<?php echo $suffix;?>"></script>
    <script src="<?php echo $http_domain;?>/public/js/buzz.js<?php echo $suffix;?>"></script>

    <style type="text/css">
    iframe {position: absolute; bottom: 0; left: initial; }
    </style>
	
	<link rel="shortcut icon" href="icon.png">
<link rel="icon" href="icon.png">
<link type="text/css" href="<?php echo $http_domain;?>/public/css/common.css<?php echo $suffix;?>" rel="stylesheet" />
<script type="text/javascript" src="<?php echo $http_domain;?>/public/js/zepto.min.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/common.js<?php echo $suffix;?>"></script>


</head>

<body>

<div id="SF_Game">
    <canvas></canvas>
    <div id="textLayer">
        <p>
           阿卡信demo
        </p>
    </div>
    <div id="inputBox">
		<a href="#" id="playAgain">
			再来一次
		</a>
		<a href="#" id="shareGame">
			炫耀一下
		</a>

    </div>
	<input id="bt-game-id" type="hidden" value="3-pop">

	<input type="hidden" id="chat_session_id" data="<?php echo $chat_session_id;?>">
	<input type="hidden" id="href_type" data="<?php echo $href_type;?>">
	<input type="hidden" id="game_use_time" data="">
	<input type="hidden" id="game_result" data="">
	<input type="hidden" id="game_accuracy" data="">
</div>

<script src="<?php echo $http_domain;?>/public/js/pop.base.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.ua.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.input.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.scoreboard.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.draw.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.collision.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.form.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.explosion.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.bubble.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.touch.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.starfish.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.router.js<?php echo $suffix;?>"></script>
<script src="<?php echo $http_domain;?>/public/js/pop.init.js<?php echo $suffix;?>"></script>
<script type="text/javascript" src="<?php echo $http_domain;?>/Public/js/zaly.js<?php echo $suffix;?>"></script>

<script type="text/javascript">

    function SF_gameStart() {
        if (!!document.createElement('canvas').getContext === false) {

            document.writeln('<h1>对不起，您的浏览器不支持html5！</h1>');
            document.writeln('<h2>请更换浏览器继续玩游戏！</h2>');

        }
        else {
            POP.init();
        }
    }

	$(function(){
		$("#playAgain").on("click", function(){
                var hrefType      = $('#href_type').attr('data');
                var gameUseTime   = $("#game_use_time").attr("data");
                var gameResult    = $("#game_result").attr("data");
                var gameAccuacy   =  $("#game_accuracy").attr("data");
                var chatSessionId = $('#chat_session_id').attr('data');

                $.ajax({
                    type: "POST",
                    url:"<?php echo $http_domain;?>/index.php",
                    dataType:"JSON",
                    data: { page_type: "game_record", chat_session_id : chatSessionId , href_type:hrefType, game_use_time:gameUseTime+"s" , game_result:gameResult, game_accuracy:gameAccuacy},
                    success:function (data) {

                    },
                    fail:function (data) {
                    }
                });
            POP.againGame();
		});
		$("#shareGame").on("click", function(){
            $(this).attr("disabled", true);
            var hrefType      = $('#href_type').attr('data');
            var gameUseTime   = $("#game_use_time").attr("data");
            var gameResult    = $("#game_result").attr("data");
            var gameAccuacy   =  $("#game_accuracy").attr("data");
            var chatSessionId = $('#chat_session_id').attr('data');
            $.ajax({
                type: "POST",
                url:"<?php echo $http_domain;?>/index.php",
                dataType:"JSON",
                data: { page_type: "share_game", chat_session_id : chatSessionId , href_type:hrefType, game_use_time:gameUseTime+"s" , game_result:gameResult, game_accuracy:gameAccuacy},
                success:function (data) {

                },
                fail:function (data) {
                }
            });
            return false;
        });
	});
	btGame.onlyVScreen(false, function(count){
		if(count > 0){
			location.reload();
		}
	});
	btGame.resizePlayArea($("#SF_Game"), 480, 960, "center", "center");
	$("#SF_Game").on("resizePlayArea", function(){
		SF_gameStart();
		SF_gameStart = function(){};
	});
</script>
</body>
</html>
