
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = 320,initial-scale=1,user-scalable=no" />
    <title>扫雷</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="<?php echo $http_domain;?>/public/css/bootstrap.min.css">
    <link href="<?php echo $http_domain;?>/public/css/engine.css<?php echo $suffix;?>" rel="stylesheet" type="text/css">
    <link href="<?php echo $http_domain;?>/public/css/game.css<?php echo $suffix;?>" rel="stylesheet" type="text/css">
<script src="<?php echo $http_domain;?>/public/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
  <div class="wrapper">

  <div class="engineDiv" >
      <div class="notice"></div>
      <div class="status">
          <div class="current panel ">当前用时 <span class="use_time">0.3</span> s</div>
          <input type="hidden" class="chat_session_id" data="<?php echo $chat_session_id;?>">
          <input type="hidden"  id="href_type" class="href_type" data="<?php echo $href_type;?>">
      </div>

      <div class="game panel">
        <div class="cell-container"></div>
        <div class="ending">
          <p></p>
          <div class="btns">
              <?php if($href_type=="u2_msg" || $href_type=="group_msg") { ?>
                <button class="retry btn">再来一局</button>
                <button class="more btn btn-warning share_game " >分享挑战</button>
              <?php } else { ?>
                <button class="retry btn retryBtn">再来一局</button>
              <?php } ?>
              <input type="hidden" class="game-result" data-flag=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="<?php echo $http_domain;?>/public/js/bootstrap.min.js" ></script>
    <script src="<?php echo $http_domain;?>/public/js/engine.js<?php echo $suffix;?>"></script>
    <script src="<?php echo $http_domain;?>/public/js/game.js<?php echo $suffix;?>" charset="utf-8"></script>
  <script type="text/javascript" src="<?php echo $http_domain;?>/Public/js/zaly.js<?php echo $suffix;?>"></script>

  <script language=javascript>
		$(document).on("click", ".share_game", function() {
            $(this).attr("disabled", true);
            var hrefType = $('.href_type').attr('data');
            var useTime  = $("span").text();
            var chatSesssionId = $('.chat_session_id').attr('data');
            var gameResult = $(".game-result").attr("data-flag");
            $.ajax({
                type: "POST",
                url:"<?php echo $http_domain;?>/index.php",
                data: { page_type: "share_fail", chat_session_id : chatSesssionId , href_type:hrefType, use_time:useTime+"s" , game_type:gameResult},
                success:function (data) {

                },
                fail:function (data) {
                }
            });
            return false;
        });

        $(document).on("click", ".retry", function() {
            var hrefType = $('.href_type').attr('data');
            var useTime  = $("span").text();
            var chatSesssionId = $('.chat_session_id').attr('data');
            var gameResult = $(".game-result").attr("data-flag");
            $.ajax({
                type: "POST",
                url:"<?php echo $http_domain;?>/index.php",
                data: { page_type: "record", chat_session_id : chatSesssionId , href_type:hrefType, use_time:useTime+"s", game_type:gameResult},
                success:function (data) {
                },
                fail:function (data) {
                }
            });
            return false;
        });
		</script>

        <div style="display: none;"></div>


</body>
</html>
