<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 320,initial-scale=1,user-scalable=no" />
    <link rel="apple-touch-icon-precomposed" href="icon.png"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon-precomposed" href="<?php echo $http_domain;?>/public/img/icon.png"/>
    <link rel="apple-touch-startup-image" href="<?php echo $http_domain;?>/public/imgs/loader.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />

    <meta name="description" content="堆木头游戏，简单好玩的小游戏，尽可能的精确对齐木头，堆木头达到最高，当你感觉木头和下面的对齐时，按下按钮放木头" />
    <title>堆木头</title>

    <link rel="stylesheet" href="<?php echo $http_domain;?>/public/css/wood.css<?php echo $suffix;?>" />

    <script type="text/javascript" src="<?php echo $http_domain;?>/public/js/standard.js<?php echo $suffix;?>"  charset="utf-8"></script>
    <script type="text/javascript" src="<?php echo $http_domain;?>/public/js/stack.js<?php echo $suffix;?>"  charset="utf-8"></script>
</head>
<body>


<div style="width:100%; height:100%;">
    <div id="alertbox"><div id="alertbox_flekk"></div><div id="alertbox_content"><div id="alert_content"></div></div></div>
    <a id="button_xwuz" onclick="return menuswitch(document.getElementById('button_about'));" ontouchstart="return menuswitch(document.getElementById('button_about'));"></a>

    <div class="ibox" id="container"><div style="width:100%;" id="container_scroller">
        <div id="ibox_game" class="iboxcontent ibc1" style="position: relative;">
            <div style="width: 237px; height:15px; overflow:hidden;margin-left: 13px;padding-top:10px; font-size:90%; position:absolute; z-index:20;">
                <div style="float:left"><div style="float:left" id="score_title">得分:&nbsp;</div><div id="score" style="float:left;  width:2em;">0</div></div>
                <div style="float:right"><div style="float:left">连击:&nbsp;</div><div id="combo" style="float:left; width:1.5em;">0</div></div>
                <div style="text-align:center">等级: <span id="level">1</span></div>
            </div>
            <div id="st_outerarea">
            </div>


            <input type="hidden" id="http_domain" data="<?php echo $http_domain;?>">
            <input type="hidden" id="chat_session_id" data="<?php echo $chat_session_id;?>">
            <input type="hidden" id="href_type" data="<?php echo $href_type;?>">
            <input type="hidden" id="game_result" data="">
        </div>

        <div id="ibox_highscore" class="iboxcontent ibc2">
            <h3>您目前的最高分是...</h3>
            <div id="yourbest"></div>
            <p>一般人努力点可以达到<span class="fontostext">2500</span> 分, 高手可以达到<span class="fontostext">3500</span> 分. 你可以分享给好友挑战下</p>
            <p>你已经玩了 <span id="gamesplayed" class="fontostext">0</span> 次 <span class="fontostext">堆木头</span>.</p>

        </div>
    </div></div>
    <script type="text/javascript"><!--
    firstinit();
    ialert('<h1>堆木头</h1><p style="margin: 0 20px 0 20px; text-align:left;"><img src="<?php echo $http_domain;?>/public/img/icon.png" alt="堆木头!" style="width:64px; height:64px;float:left; margin-right:5px;"/> 当木头移动到木头堆正上方时，按下按钮放木头，尽可能的对齐木头.</p>'+
        '<div style="width:110px; margin:30px auto -30px auto;"></div>','restartgame()');
    //-->


    </script>

</div>

</body>
</html>